.card-scroll {
    overflow-x: scroll;
    white-space: nowrap;
}

.card-scroll-img {
    overflow: hidden;
    max-width: 85px;
    max-height: 85px;
}

.card-scroll-img-holder {
    max-width: 100px;
}

.card-scroll-info {
    max-width: 250px;
}

.card-scroll-info-text {
    min-height: 75px;
}

/* Elementi CSS per modificare la barra di scrolling orizzontale, preso da google */

/* Webkit (Chromium) */
.card-scroll::-webkit-scrollbar {
    height: 0.4em; /*spessore scrollbar*/
    background-color: #F5F5F5; /*colore background scrollbar*/
    display: block;
    -webkit-appearance: none;
}
.card-scroll::-webkit-scrollbar-thumb {
    background-color: #000000; /*colore scrollbar*/
}

/* Firefox */
.card-scroll::-moz-scrollbar {
    height: 0.4em; /*spessore scrollbar*/
    background-color: #F5F5F5; /*colore background scrollbar*/
    display: block;
    -moz-appearance: none;
}
.card-scroll::-moz-scrollbar-thumb {
    background-color: #000000; /*colore scrollbar*/
}