/* Classi definite per avere le varie sezioni orizzontali nel profilo con overflow-scrolling (dato che bootstrap non fornisce delle vere classi per le carte orizzontali ma si limita a usare row e col) */

/* Il card scroller */
.card-scroll {
    overflow-x: scroll;
    white-space: nowrap;
}

/* Le immagini delle carte contenute nel card scroller */
.card-scroll-img {
    overflow: hidden;
    max-width: 85px;
    max-height: 85px;
}

/* Definisce come ogni carta dentro il card scroll debba essere, in questo caso non più larghe di 250px */
.card-scroll-info {
    max-width: 250px;
}

/* Definisce il testo contenuto in descrizione delle carte contenute in card scroll */
.card-scroll-info-text {
    min-height: 75px;
}

/* Elementi CSS per modificare la barra di scrolling orizzontale, preso da Google */

/* Webkit (Chromium) */
.card-scroll::-webkit-scrollbar {
    height: 0.4em; /*spessore scrollbar*/
    background-color: #F5F5F5; /*colore background scrollbar*/
    display: block;
    -webkit-appearance: none;
}
.card-scroll::-webkit-scrollbar-thumb {
    background-color: #000000; /*colore scrollbar*/
}

/* Firefox */
.card-scroll::-moz-scrollbar {
    height: 0.4em; /*spessore scrollbar*/
    background-color: #F5F5F5; /*colore background scrollbar*/
    display: block;
    -moz-appearance: none;
}
.card-scroll::-moz-scrollbar-thumb {
    background-color: #000000; /*colore scrollbar*/
}