# System specific files
.DS_Store
Thumbs.db
.vscode/

# Python specific files
*.pyc
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
venv
venv/
__pycache__/
__pycache__
instance/

# Flask specific files
*.session
*.token
flask_session/
instance/
.webassets-cache
.webassets-manifest