{% extends 'layout.html' %}

{% block title %} - Sfoglia{% endblock %}

{% block scripts %}

<script src="{{url_for('static', filename='scripts/searchpodcasts.js')}}" defer></script>

{% endblock %}

{% block content %}

<div class="row mb-5">
    <div class="col d-flex justify-content-around align-items-center">
        <i class="fa-solid fa-magnifying-glass d-inline-block me-2"></i>
        <p class="text-center mb-0">Cerca</p>
    </div>
    <div class="col-11 d-flex align-items-center">
        <input class="form-control" id="searchbar" type="search" placeholder="Cerca tra i podcast">
    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    
    {% for podcast in podcasts %}
    <div class="col">
    <a href="{{url_for('podcast', id=podcast.id)}}">
        <div class="card podcast">
            <img class="card-img-top img-fluid p-1 p-lg-3" src="{{url_for('static', filename='uploads/images/covers/'+podcast.id|string+podcast.img)}}" class="card-img-left img-fluid h-100 w-100 d-block mx-auto" alt="podcast {{podcast.title}} image">
            <div class="card-body">
                <h5 class="podcast-title card-title">{{podcast.title}}</h5>
                <p class="podcast-description card-text">{{podcast.desc}}</p>
            </div>
            <div class="card-footer podcast-category">
                {{podcast.tag|capitalize}}
            </div>
        </div>  
    </a>
    </div>
    {% endfor %}
</div>

{% endblock %}