{% extends 'gallery.html' %}

{% block title %} - Sfoglia{% endblock %}
{% block searchActive %}active{% endblock %}

{% block header %}
    <p class="text-center display-1">I nostri podcast</p>
{% endblock %}

{% block gallery %} 

{% for podcast in podcasts %}
    <div class="col">
    <a class="podcast card h-100" href="{{url_for('podcast', id=podcast.id)}}">
        <img class="card-img-top img-fluid p-1 p-lg-3" src="{{url_for('static', filename='uploads/images/covers/'+podcast.id|string+podcast.img)}}" alt="podcast {{podcast.title}} image">
        <div class="card-body">
            <h5 class="podcast-title card-title">{{podcast.title}}</h5>
            <p class="podcast-description card-text">{{podcast.desc}}</p>
        </div>
        <div class="card-footer podcast-category">
            {{podcast.tag|capitalize}}
        </div>
    </a>
    </div>
{% endfor %}

{%endblock%}