{% extends 'layout.html' %}

{% block title %} - {{episode.title}} | {{podcast.title}}{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/episode.css')}}"> {% endblock %}

{% block content %}

<!-- Header episodio -->
<div class="row">   
    <div class="col-12 col-lg-2 d-flex justify-content-center">
        <img src="{{url_for('static', filename='uploads/images/covers/{0}{1}'.format(id_pod, podcast.img))}}" alt="Immagine podcast" class="card-img p-1 p-lg-2 episode-img">
    </div>
    <div class="col mt-4 mt-lg-0">
        <div class="row d-flex justify-content-center align-items-center mb-3">
            <h1 class="">{{episode.title}}</h1>
            <a href="{{url_for('podcast', id=podcast.id)}}"><p class="card-text"><small class="text-muted">{{podcast.title}}</small></p></a>
        </div>
        <div class="card">
            <div class="card-body">
              <p class="card-text">{{episode.description}}</p>
            </div>
            <div class="card-footer">
                {{episode.timestamp}}
            </div>
        </div>
        <div class="row mx-0 my-2 d-flex justify-content-center align-content-center display-5">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEpisodeModal">
                Elimina episodio
            </button>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteEpisodeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteEpisodeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteEpisodeModalLabel">Sei sicuro di voler eliminare il podcast?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Una volta eliminato, l'episodio non potrà più essere recuperato, così come i suoi commenti, sei sicuro di voler procedere?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <a href = "{{ url_for('post_delete_episode', id_ep=id, id_pod=id_pod) }}" type="button" id="delEpBtn" class="btn btn-danger">Ho capito, elimina l'episodio</a>
        </div>
    </div>
    </div>
</div>

<!-- Body episodio -->
<div class="row mt-3 mx-lg-0 mx-2">
    <!-- Traccia audio -->
    <!--TODO implementa un audio player da una libreria js: howler, wavesurfer, amplitude, plyr, mediaelements etc. -->
    <div id="player" class="col-md-7">
        <div class="card-body row g-2">
            <div class="text-light p-3">
                <audio controls>
                    <source src="audio-file.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-content-center my-2">
        <div class="row d-flex justify-content-center">
            <div class="">
              <div class="card shadow-0 border bg-ligth">
                <div class="card-body p-4">
                    <form class="form-outline mb-4 mx-2" action="{{ url_for('post_new_comment', id_ep=id, id_pod=id_pod) }}" method="POST">
                        <div class="row">
                            <input type="text" name="text" id="addANote" class="form-control" placeholder="Scrivi un commento..." />
                        </div>
                        <div class="row d-flex justify-content-between mt-3">
                            <label class="col-6 form-label" for="addANote">+ Comment</label>
                            <button type="submit" class="col-12 col-lg-2 btn btn-outline-dark">Pubblica</button>
                        </div>
                    </form>

                    {% for comment in comments %}
                    
                    <div class="card mb-4">
                        <div class="card-body">
                        <p>{{comment.text}}</p>
            
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <img src="{{url_for('static', filename='uploads/images/propics/{0}{1}'.format(comment.id_user, comment.propic))}}" alt="avatar" width="25"
                                    height="25"/>
                                <p class="small mb-0 ms-2">{{comment.name}} {{comment.surname}}</p>
                            </div>
                        </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <!--TODO Converti in daysago-->
                            <div class="col-4 col-sm-3 col-lg-2">
                                {{comment.timestamp}}
                            </div>
                            <!--! Controlla come usi id_pod e id_ep nei vari codici relativi a gli episodi, non fare spaghetti code!-->
                            <form class="col-8 col-sm-7 col-md-6 col-lg-5 d-flex justify-content-end" action="{{ url_for('post_delete_comment', id_pod=id_pod, id_ep=id) }}" method="POST">
                                <input hidden name="timestamp" value="{{comment.timestamp}}">
                                <button type="submit" class="col-8 col-lg-3 btn btn-danger">Elimina</button>
                            </form>
                        </div>
                    </div>

                    {% endfor %}
          
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}