{% extends 'layout.html' %}

{% block title %} - {{episode.title}} | {{podcast.title}}{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/episode.css')}}"> {% endblock %}

{% block scripts %}

<script src="{{url_for('static', filename='scripts/editepisode.js')}}" defer></script>

{% endblock %}

{% block content %}

<!-- Header episodio -->

<header class="row">   
    
    <!-- Immagine podcast dell'episodio -->
    <div class="col-12 col-lg-2 d-flex justify-content-center">
        <img src="{{url_for('static', filename='uploads/images/covers/{0}{1}'.format(id_pod, podcast.img))}}" alt="Immagine podcast {{podcast.title}}" class="card-img p-1 p-lg-2 episode-img">
    </div>

    <!-- Info episodio -->
    <div class="col mt-4 mt-lg-0">
        
        <!-- Titolo episodio -->
        <article class="row d-flex justify-content-center align-items-center mb-3">
            <h2>
                {{episode.title}}
                {% if is_owner %}
                <!-- NOTA: ho scelto di usare il tag a senza un vero href perchè così il puntatore del mouse diventa la mano bianca che indica il click e di conseguenza rende la UI più intuitiva -->
                <a href="#" class="col-1 fa-solid fa-xs fa-pen-to-square mx-3" data-bs-toggle="modal" data-bs-target="#editEpisode"></a>
                {% endif %}
            </h2>
            <p class="card-text"><small class="text-muted"><a href="{{url_for('podcast', id=podcast.id)}}">{{podcast.title}}</a></small></p>
        </article>

        <!-- Modal (Modifica info episodio) -->
        <div class="modal fade" id="editEpisode" tabindex="-1" aria-labelledby="editEpisodeLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="editEpisodeLabel">Modifica informazioni episodio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="d-flex flex-column" action="{{url_for('post_edit_episode', id_pod=id_pod, id_ep=id)}}" method="POST">
                        <input type="text" id="title-input" name="title" class="form-control mt-2" minlength="4" maxlength="32" value="{{episode.title}}">
                        <label class="form-label mt-2" for="title-input">Nuovo titolo</label>
                        <textarea id="desc-input" name="desc" class="form-control mt-2" rows="16" minlength="16" maxlength="516">{{episode.description}}</textarea>
                        <label class="form-label mt-2" for="desc-input">Nuova descrizione</label>
                        <button type="submit" class="btn btn-dark btn-outline-light mt-3">Conferma</button>
                    </form>
                </div>
            </div>
            </div>
        </div>

        <!-- Episode info (bootstrap card) -->
        <article class="card">
            <div class="card-body">
                <p class="card-text">{{episode.description}}</p>
                {% if not has_saved %}
                <a href="{{url_for('save', id_ep=id, id_pod=id_pod)}}" class="btn btn-light btn-outline-dark">Salva l'episodio</a>
                {% else %}
                <a href="{{url_for('unsave', id_ep=id, id_pod=id_pod)}}" class="text-white btn btn-danger">Elimina dalla lista</a>
                {% endif %}
            </div>
            <div class="card-footer">
                Pubblicato {{daysago}}
            </div>
        </article>

        <!-- Bottone trigger modale di eliminazione -->
        {% if is_owner %}
        <div class="row mx-0 my-2 d-flex justify-content-center align-content-center display-5">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEpisodeModal">
                Elimina episodio
            </button>
        </div>
        {% endif %}

    </div>
    
</header>

<!-- Modal (eliminazione episodio) -->
<div class="modal fade" id="deleteEpisodeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteEpisodeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteEpisodeModalLabel">Sei sicuro di voler eliminare il podcast?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Una volta eliminato, l'episodio non potrà più essere recuperato, così come i suoi commenti, sei sicuro di voler procedere?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <a href = "{{ url_for('post_delete_episode', id_ep=id, id_pod=id_pod) }}" id="delEpBtn" class="btn btn-danger">Ho capito, elimina l'episodio</a>
        </div>
    </div>
    </div>
</div>

<!-- Body episodio -->
<main class="row mt-3 mx-lg-0 mx-2">

    <!-- Traccia audio-->
    <!--TODO? implementa un audio player da una libreria js: howler, wavesurfer, amplitude, plyr, mediaelements etc. -->
    <div class="row d-flex justify-content-center">

        {% if current_user.is_authenticated %}
        <div class="col-md-7 w-100">
            <div class="row g-2">
                <div class="text-light p-3">
                    <audio id="player" controls class="row w-100">
                        <source src="{{url_for('static', filename='uploads/audios/'+episode.id|string+episode.audio)}}" type="audio/{{mime_type}}">
                        Audio {{episode.title}} del podcast {{podcast.title}} - Il tuo browser non supporta l'elemento audio.
                    </audio>
                    {% if is_owner %}
                    <div class="row">
                        <a class="text-center text-dark text-center vanilla-a mt-3 " data-bs-toggle="modal" data-bs-target="#editAudio">
                            Clicca qui per modificare la traccia audio<i class="fa-solid fa-pen-to-square ms-3"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Modale di modifica audio -->
        <div class="modal fade" id="editAudio" tabindex="-1" aria-labelledby="editAudioLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="editAudioLabel">Modifica audio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="d-flex flex-column" action="{{url_for('post_edit_audio', id_pod=id_pod, id_ep=id)}}" method="POST" enctype="multipart/form-data">
                        <label class="form-label" for="audio-input">Nuovo audio</label>
                        <input type="file" id="audio-input" name="audio" class="form-control mt-2" accept="audio/mp3, audio/wav">
                        <button type="submit" class="btn btn-dark btn-outline-light mt-3">Conferma</button>
                    </form>
                </div>
            </div>
            </div>
        </div>

        {% else %}

        <!-- CTA per i non registrati -->
        <div class="d-flex flex-column align-items-center">
            <p class="placeholder-glow d-flex justify-content-center align-items-center">
                <span class="placeholder col-12 px-0 px-sm-5">Accedi a DaraDara per iniziare ad ascoltare i tuoi podcast preferiti! </span>
            </p>
            <a href="{{url_for('login')}}" class="btn btn-outline-dark btn-light">Accedi per ascoltare!</a>
        </div>

        {% endif %}

    </div>

    <!-- Sezione commenti (bootstrap card) -->
    <div class="row d-flex justify-content-center align-content-center my-2">
        <div class="row d-flex justify-content-center">
            <div class="card shadow-0 border bg-ligth">
            <div class="card-body p-4">

                <!-- Nuovo commento: form -->
                <form class="form-outline mb-4 mx-2" action="{{ url_for('post_new_comment', id_ep=id, id_pod=id_pod) }}" method="POST">
                    <div class="row">
                        <textarea name="text" id="addANote" class="form-control" placeholder="Scrivi un commento..." rows="4" maxlength="300"></textarea>
                    </div>
                    <div class="row d-flex justify-content-between mt-3">
                        <label class="col-6 form-label" for="addANote">+ Commento</label>
                        <button type="submit" class="col-12 col-lg-2 btn btn-outline-dark">Pubblica</button>
                    </div>
                </form>
                
                <!-- Commenti (serie di bootstrap card) -->
                {% for i in range(comments|length) %}

                <div class="card mb-4">
                    <!-- Contenuto del commento -->
                    <article class="card-body">
                        <p>{{comments[i].text}}</p>
                        <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
                            <div class="d-flex flex-row align-items-center">
                                <!--TODO! Togli width e height attributes -->
                                <img src="{{url_for('static', filename='uploads/images/propics/{0}{1}'.format(comments[i].id_user, comments[i].propic))}}" alt="Immagine profilo di {{comments[i].name}} {{comments[i].surname}}" width="25" height="25">
                                <address class="small mb-0 ms-2"><a href="{{url_for('profile', id=comments[i].id_user)}}">{{comments[i].name}} {{comments[i].surname}}</a></address>
                            </div>
                            <p class="mt-2 m-0"><small class="text-muted">{{comments[i].posted}}</small></p>
                        </div>
                    </article>

                    <!-- Tasti di Modifica / Eliminazione del commento -->
                    {% if current_user.is_authenticated and current_user.id == comments[i].id_user %}
                    <div class="card-footer d-flex justify-content-between">
                        
                        <div class="col-4 col-sm-3 col-lg-2">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark btn-outline-light" data-bs-toggle="modal" data-bs-target="#editComment-{{i}}">
                                Modifica
                            </button>
                        </div>
                        
                        <form class="col-8 col-sm-7 col-md-6 col-lg-5 d-flex justify-content-end" action="{{ url_for('post_delete_comment', id_pod=id_pod, id_ep=id) }}" method="POST">
                            <input hidden name="timestamp" value="{{comments[i].timestamp}}">
                            <button type="submit" class="col-8 col-lg-3 btn btn-danger">Elimina</button>
                        </form>
                        
                    </div>
                    {% endif %}
                </div>
                
                <!-- Modale (modifica comento) -->
                <div class="modal fade" id="editComment-{{i}}" tabindex="-1" aria-labelledby="editCommentLabel-{{i}}" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editCommentLabel-{{i}}">Nuovo commento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="d-flex flex-column" action="{{url_for('post_edit_comment', id_pod=id_pod, id_ep=id)}}" method="POST">
                                <textarea name="new-text" class="form-control" rows="8" maxlength="300">{{comments[i].text}}</textarea>
                                <input hidden name="timestamp" value="{{comments[i].timestamp}}">
                                <button type="submit" class="btn btn-dark btn-outline-light mt-3">Conferma</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>

                {% endfor %}
        
            </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}