{% extends 'gallery.html' %}

{% block title %} - Seguiti di {{user.name}}{% endblock %}

{% block header %}
    {% if is_owner %}
        <p class="text-center display-1">I podcast che segui</p>
    {% else %}
        <p class="text-center display-1">Podcast seguiti da {{user.name}}</p>
    {% endif %}
{% endblock %}

{% block main %} 

{% if podcasts %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for podcast in podcasts %}
        <div class="col">
        <a class="podcast card" href="{{url_for('podcast', id=podcast.id)}}">
            <img class="card-img-top img-fluid p-1 p-lg-3" src="{{url_for('static', filename='uploads/images/covers/'+podcast.id|string+podcast.img)}}" alt="podcast {{podcast.title}} image">
            <div class="card-body">
                <h5 class="podcast-title card-title">{{podcast.title}}</h5>
                <p class="podcast-description card-text">{{podcast.desc}}</p>
            </div>
        </a>
        </div>
    {% endfor %}
</div>

{% else %}
    {% if is_owner %}
        <div class="row">
            <h5 class="text-center">Non segui nessun podcast 😢</h5>
            <p class="text-center"><small>(per ora...)</small></p>
        </div>
    {% else %}
        <div class="row">
            <h5 class="text-center">{{user.name}} non segue nessun podcast 😢</h5>
            <p class="text-center"><small>(per ora...)</small></p>
        </div>
    {% endif %}
{% endif %}

{%endblock%}