{% extends 'layout.html' %}

{% block title %} - Home{% endblock %}

{% block content %} 
<div class="row">
    <!--? Placeholders mentre carica? -->
    <aside class="col-3">
        <div class="row d-flex justify-content-center display-6 my-5">Episodi salvati</div>

        {% for i in range(1, 6) %}
        <!--TODO rimuovi lo style specifico-->
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-around align-items-center">
                    <!--TODO rimuovi lo style specifico-->
                    <img class="img-fluid" src="{{ url_for('static', filename='misc/red300x300.jpg') }}" class="card-img-left img-fluid h-100 w-100 d-block mx-auto" alt="podcast {{i}} image">    
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Podcast {{i}}</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </aside>

    <main class="col">
        <div class="row d-flex justify-content-center display-6 my-5">I podcast più in voga</div>

        {% for i in range(1, 6) %}
        <!--TODO rimuovi lo style specifico-->
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-around align-items-center">
                    <!--TODO rimuovi lo style specifico-->
                    <img class="img-fluid" src="{{ url_for('static', filename='misc/red300x300.jpg') }}" class="card-img-left img-fluid h-100 w-100 d-block mx-auto" alt="podcast {{i}} image">    
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Podcast {{i}}</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </main>
</div>
{% endblock %}
