{% extends 'layout.html' %}

<!--TODO aggiorna il titolo con il nome specifico del podcast-->
{% block title %} - Podcast . . . {% endblock %}

{% block content %} 

    <!-- Podcast header (immagine, nome, categorie, descrizione e eliminazione)-->
    <div class="row">
        <!-- Immagine podcast -->
        <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center">
            <img src="{{ url_for('static', filename='misc/red300x300.jpg') }}" alt="" class="imgfluid">
        </div>
        <!-- Info podcast -->
        <div class="col">
            <div class="row border border-dark mx-2 mx-lg-0 my-2 d-flex justify-content-center align-content-center display-3">
                Nome podcast
            </div>
            <div class="row border border-dark mx-2 mx-lg-0 my-2 d-flex justify-content-center align-content-center display-4">
                Categorie
            </div>
            <div class="row border border-dark mx-2 mx-lg-0 my-2 d-flex justify-content-center align-content-center display-4">
                Descrizione
            </div>
            <div class="row border border-dark mx-2 mx-lg-0 my-2 d-flex justify-content-center align-content-center display-5">
                Elimina podcast
            </div>
        </div>
    </div>
    
    <!-- Pocast body (episodi) -->
    <div class="row mt-3">
        <div class="row d-flex justify-content-center display-5">Episodi</div>

        {% for i in range(1,9) %}
        <div class="row d-flex justify-content-center">
            <div class="row mt-3">
                <!-- Episodio -->
                <div class="card mb-3">
                    <div class="row g-0">
                        <!-- Titolo episodio -->
                        <div class="col-md-4">
                            <p class="text-center display-5">Episodio {{i}}</p>
                        </div>
                        <!-- Traccia audio -->
                        <div class="col-md-7">
                            <div class="card-body row g-2">
                                Traccia audio   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor%}

    </div>
{% endblock %}