{% extends 'layout.html' %}

{% block title %} - {{user.name}}{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='scripts/profile.js')}}" defer></script>
{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/profile.css')}}"> {% endblock %}

{% block content %}

<!--TODO! Testa come si comportano le scrollbar orizzotali con episodi con testi lunghi o "al limite"-->

<!-- Profile header (propic, info) -->
<div class="row">
    <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center">
        <!--Propic-->
        <img src="{{url_for('static', filename='uploads/images/propics/{0}{1}'.format(user.id, user.propic))}}" alt="Immagine profilo" class="img-fluid">
    </div>
    <div class="col">
        <!--Nome e cognome -->
        <div class="row display-4 mt-3 mt-lg-0 mb-3 mx-lg-0 mx-2"><p class="text-nowrap">{{user.name}} {{user.surname}} {% if is_creator %}<i class="ms-2 fa-solid fa-podcast fa-xs"></i>{% endif %}</p></div>
        <!--Bio-->
        <div class="row mx-lg-0 mx-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, tempora. Eius, at. Id repellat consectetur maiores cupiditate at amet tempore sequi excepturi, nihil, sapiente nostrum nam magnam iure ipsa architecto!
        Ex autem commodi quidem repellendus ad rem unde modi velit rerum, reprehenderit vitae assumenda sint, cumque repudiandae corporis asperiores vero! Accusamus eveniet aliquam fugiat accusantium quidem laudantium libero labore ipsa!
        Placeat repellat molestias et illo quasi tenetur, ex eaque. Dicta modi iste maiores! Voluptatum adipisci totam voluptate debitis commodi, nisi officiis atque cupiditate quos nostrum officia sit sequi nulla ut?</div>
    </div>
</div>

<!-- Profile body (podcast pubblicati e seguiti) -->
<div class="row">

    {% if is_owner or (not is_owner and privacy[0] == 0) %}
    {% if is_creator or is_owner %}
    <!-- Lista podcast pubblicati (bootstrap card) -->
    <div class="row mt-3">
        <div id="owned" class="card mb-3 mx-lg-0 mx-2 p-0">
            <div class="row g-0">
                <!-- Card header -->
                <div class="col-12 col-xxl-3 card-header d-flex flex-column justify-content-evenly align-items-center display-6">
                    <p class="row text-nowrap text-wrapper">Podcast 🎙️</p>
                    <div class="row g-5">
                    {% if is_creator %}
                            {% if is_owner %}
                            <a href="{{url_for('privatize_owned', id=user.id)}}" class="col d-flex justify-content-center align-items-center"><i class="fa-solid fa-eye{% if privacy[0]==1 %}-slash{% endif %} fa-xxs"></i></a>
                            {% endif %}
                            <a href="{{url_for('owned', id=user.id)}}" class="col btn btn-light btn-outline-dark text-nowrap">Visualizza tutti</a>
                    {% endif %}
                    </div>
                </div>
                <!-- Card body -->
                <div class="col">
                    <div class="card-body row g-2">
                        {% if is_creator %}
                        <div class="card-scroll">

                            {% for podcast in podcasts[:5] %}
                            
                            <a href="{{url_for('podcast', id=podcast.id)}}" class="d-inline-block mx-2 border rounded-2 px-2">
                                <div class="row">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <img src="{{url_for('static', filename='uploads/images/covers/{0}{1}'.format(podcast.id, podcast.img))}}" class="im-card img-fluid" alt="Card image" style="max-width: 100px;">
                                </div>
                                <div class="col-8">
                                    <h5 class="">{{podcast.title}}</h5>
                                    <p class="text-wrap">{{podcast.desc}}</p>
                                </div>
                                </div>
                            </a>

                            {% endfor %}

                        </div>

                        {% else %}
                            <h5 class="card-title mb-0">Nulla da vedere! 👀</h5>
                            <p class="card-text">Diventa un podcaster per pubblicare il tuo primo podcast!</p>
                            <small class="text-muted">Premi il bottone a destra 👉</small>
                        {% endif %}                            
                        
                    </div>
                </div>
                {% if current_user.id == user.id %}
                <!-- Card footer -->
                <a href="{{url_for('new_podcast')}}" class="col-12 col-lg-1 btn btn-lg btn-light border-start rounded-0-start border-dark-start bg-light d-flex flex-lg-column justify-content-center align-items-center" role="button">
                    <div>{% if podcasts %}Nuovo podcast{% else %}Diventa podcaster!{% endif %}</div>
                    <i class="fa-solid fa-microphone mt-0 ms-3 mt-lg-3 ms-lg-0" style="font-size: x-large;"></i>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% if is_owner or (not is_owner and privacy[1] == 0) %}
    <!-- Lista podcast seguiti (bootstrap card) -->
    <div class="row mt-3">
        <div id="follows" class="card mb-3 mx-lg-0 mx-2 p-0">
            <div class="row g-0">
                <!-- Card header -->
                <div class="col-12 col-xxl-3 card-header d-flex flex-column justify-content-evenly align-items-center display-6">
                    <p class="row text-nowrap text-wrapper">Seguiti 🥳</p>
                    <div class="row g-5">
                        {% if is_owner %}
                            <a href="{{url_for('privatize_follows', id=user.id)}}" class="col d-flex justify-content-center align-items-center"><i class="fa-solid fa-eye{% if privacy[1]==1 %}-slash{% endif %} fa-xxs"></i></a>
                        {% endif %}
                        {% if follows|length > 0 %}
                            <a href="{{url_for('follows', id=user.id)}}" class="col btn btn-light btn-outline-dark text-nowrap">Visualizza tutti</a>
                        {% elif follows|length == 0 and is_owner %}
                            <a href="{{url_for('categories')}}" class="col btn btn-light btn-outline-dark text-nowrap">Trova podcasts</a>
                        {% endif %}
                    </div>
                </div>
                <!-- Card body -->
                <div class="col">
                    <div class="card-body row g-2">
                        {% if follows %}
                        <div class="card-scroll">

                            {% for follow in follows[:5] %}
                            
                            <a href="{{url_for('podcast', id=follow.id_podcast)}}" class="d-inline-block mx-2 border rounded-2 px-2">
                                <div class="row">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <img src="{{url_for('static', filename='uploads/images/covers/{0}{1}'.format(follow.id, follow.img))}}" class="img-fluid" alt="Card image" style="max-width: 100px;">
                                </div>
                                <div class="col-8">
                                    <h5 class="">{{follow.title}}</h5>
                                    <p class="text-wrap">{{follow.desc}}</p>
                                </div>
                                </div>
                            </a>

                            {% endfor %}
                            
                        </div>
                        {% else %}
                            <h5 class="card-title mb-0">Nulla da vedere! 👀</h5>
                            {% if is_owner %}
                                <p class="card-text"><small class="text-muted">Segui i tuoi podcast preferiti per vederli qui la prossima volta!</small></p>
                            {% else %}
                                <p class="card-text"><small class="text-muted">{{user.name}} non segue nessun podcast!</small></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if is_owner or (not is_owner and privacy[2] == 0) %}
    <!-- Lista episodi salvati -->
    <div class="row mt-3">
        <div id="saves" class="card mb-3 mx-lg-0 mx-2 p-0">
            <div class="row g-0">
                <!-- Card header -->
                <div class="col-12 col-xxl-3 card-header d-flex flex-column justify-content-evenly align-items-center display-6">
                    <p class="row text-nowrap text-wrapper">Episodi salvati 📋</p>
                    
                    <div class="row g-5">
                        {% if is_owner %}
                        <a href="{{url_for('privatize_saves', id=user.id)}}" class="col d-flex justify-content-center align-items-center"><i class="fa-solid fa-eye{% if privacy[2]==1 %}-slash{% endif %} fa-xxs"></i></a>
                        {% endif %}
                        {% if follows|length > 0 %} 
                        <a href="{{url_for('saves', id=user.id)}}" class="col btn btn-light btn-outline-dark text-nowrap">Visualizza tutti</a>
                        {% endif %}
                    </div>
                </div>
                <!-- Card body -->
                <div class="col">
                    <div class="card-body g-2">
                        {% if saves %}
                        <div class="card-scroll">

                            {% for save in saves[:5] %}
                            
                            <!--TODO metti ricerca tra i tuoi follow con js-->
                            <a href="{{url_for('episode', id_pod=save.id, id_ep=save.ep_id)}}" class="d-inline-block mx-2 border rounded-2 px-2">
                                <div class="row">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <img src="{{url_for('static', filename='uploads/images/covers/{0}{1}'.format(save.id, save.img))}}" class="img-fluid" alt="Card image" style="max-width: 100px;">
                                </div>
                                <div class="col-8 w" style="max-width: 250px;">
                                    <h5 class="">{{save.title}}</h5>
                                    <!--TODO! Incorpora la logica dei puntini... anche per episodi salvati e i tuoi podcast-->
                                    {% if save.desc|length > 70 %}
                                        <p class="text-wrap text-break">{{save.desc[:67]}}...</p>
                                    {% else %}
                                        <p class="text-wrap text-break">{{save.desc}}</p>
                                    {% endif %}
                                </div>
                                </div>
                            </a>

                            {% endfor %}
                            
                        </div>
                        {% else %}
                            <h5 class="card-title mb-0">Nulla da vedere! 👀</h5>
                            {% if is_owner %}
                                <p class="card-text"><small class="text-muted">Salva i tuoi episodi preferiti per vederli qui la prossima volta!</small></p>
                            {% else %}
                                <p class="card-text"><small class="text-muted">{{user.name}} non ha ancora salvato nessun episodio!</small></p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}