{% extends 'layout.html' %}

{% block title %} - {{user.name}}{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/profile.css')}}"> {% endblock %}

{% block content %}

<!-- Profile header (propic, info) -->
<header class="row">

    <div class="row col-12 col-lg-4 d-flex justify-content-center align-items-center">
        <!-- Propic utente -->
        <img src="{{url_for('static', filename='uploads/images/propics/{0}{1}'.format(user.id, user.propic))}}" class="img-fluid rounded-4" alt="Immagine del profilo di {{user.name}}">
        {% if is_owner %}
        <!-- Bottone di modifica immmagine -->
        <a class="text-center mt-3 vanilla-a" data-bs-toggle="modal" data-bs-target="#editPropic">Clicca qui per modificare l'immagine del profilo<i class="fa-solid fa-pen-to-square ms-3"></i></a>
        {% endif %}
    </div>

    <!-- Modale di modifica immagine -->
    <div class="modal fade" id="editPropic" tabindex="-1" aria-labelledby="editPropicLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="editPropicLabel">Modifica immagine del profilo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-flex flex-column" action="{{url_for('post_update_propic', id=user.id)}}" method="POST" enctype="multipart/form-data">
                    <label class="form-label" for="img-input">Nuova immagine</label>
                    <input type="file" id="img-input" name="img" class="form-control mt-2">
                    <button type="submit" class="btn btn-dark btn-outline-light mt-3">Conferma</button>
                </form>
            </div>
        </div>
        </div>
    </div>

    <article class="col">

        <!-- Nome e cognome -->
        <section class="row display-4 mt-3 mt-lg-0 mb-3 mx-lg-0 mx-2">
            <h1 class="text-nowrap text-center text-lg-start">{{user.name}} {{user.surname}}
                {% if is_creator %}
                <i class="ms-2 fa-solid fa-podcast fa-xs"></i>
                {% endif %}
            </h1>
        </section>

        <!-- Biografia del profilo -->
        <section class="row mx-lg-0 mx-2 ps-2">
            {% if not user.bio %}
                {% if is_owner %}
                <p class="text-muted">
                    Nessuna bio... 😢 <a class="vanilla-a" data-bs-toggle="modal" data-bs-target="#editBio"> vuoi aggiungerne una?</a>
                </p>
                {% else %}
                <p class="text-muted">
                    Nessuna bio... 😢
                </p>
                {% endif %}
            {% else %}
                <p class="text-center text-lg-start">{{user.bio}}
                    {% if is_owner %}
                        <a data-bs-toggle="modal" data-bs-target="#editBio" class="vanilla-a"><i class="ms-2">Modifica bio</i><i class="fa-solid fa-pen-to-square ms-2"></i></a>
                    {% endif %}
                </p>
            {% endif %}
        </section>
        
        <!-- Modal (update bio) -->
        <div class="modal fade" id="editBio" tabindex="-1" aria-labelledby="editBioLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h2 class="modal-title fs-5" id="editBioLabel">Modifica biografia profilo</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('post_edit_bio', id=user.id)}}" method="POST">
                        <textarea id="bio-input" name="bio" class="form-control mt-2" rows="16" maxlength="516">{% if user.bio %}{{user.bio}}{% endif %}</textarea>
                        <button type="submit" class="btn btn-dark btn-outline-light mt-3">Conferma</button>
                    </form>
                </div>
            </div>
            </div>
        </div>

    </article>
</header>

<!-- Profile body (podcast pubblicati e seguiti) -->
<main class="row mt-lg-3">

    <!-- Se l'utente che sta visualizzando la pagina è il possessore del profilo mostra tutto, altrimenti mostra le varie sezioni in funzione di come il proprietario ha impostato la sua privacy e se il profilo che vuole visualizzare è o no un podcaster -->
    {% if is_owner or (is_creator and privacy[0] == 0) %}
    <!-- Lista podcast pubblicati (bootstrap card orizzontale) -->
    <div class="row mt-3">

        <article id="owned" class="card mb-3 mx-lg-0 mx-2 p-0">
            <div class="row g-0">

                <!-- Card header -->
                <section class="col-12 col-xxl-3 card-header d-flex flex-column justify-content-evenly align-items-center display-6">
                    <p class="row text-nowrap text-wrapper">Podcast 🎙️</p>
                    
                    <!-- Se l'utente che visualizza è il proprietario mostra i tasti per privatizzare o rendere pubblica la sezione (icona dell'occhio) -->
                    {% if is_creator %}
                    <div class="row g-5">
                            {% if is_owner %}
                            <a href="{{url_for('privatize_owned', id=user.id)}}" class="col d-flex justify-content-center align-items-center"><i class="fa-solid fa-eye{% if privacy[0]==1 %}-slash{% endif %} fa-xxs"></i></a>
                            {% endif %}
                            <a href="{{url_for('owned', id=user.id)}}" class="col btn btn-light btn-outline-dark text-nowrap">Visualizza tutti</a>
                    </div>
                    {% endif %}
                    
                </section>

                <!-- Card body -->
                <section class="col">
                    <div class="card-body row g-2">
                        {% if is_creator %}

                        <div class="card-scroll">
                            <!-- Mostra massimo 5 podcast, per gli altri l'utente potrà premere il tasto "Visualizza tutti" -->
                            {% for podcast in podcasts[:5] %}
                            
                            <article class="d-inline-block mx-2 border rounded-2 px-2">
                                <div class="row">
                                <a href="{{url_for('podcast', id=podcast.id)}}" class="col-4 d-flex align-items-center justify-content-center">
                                    <img src="{{url_for('static', filename='uploads/images/covers/{0}{1}'.format(podcast.id, podcast.img))}}" class="card-scroll-img img-card img-fluid" alt="Immagine {{podcast.title}}">
                                </a>
                                <section class="card-scroll-info col-8 mt-2">
                                    {% if podcast.title|length > 23 %}
                                        <h5 class="text-wrap text-break"><a href="{{url_for('podcast', id=podcast.id)}}">{{podcast.title[:20]}}...</a></h5>
                                    {% else %}
                                        <h5 class="text-wrap text-break"><a href="{{url_for('podcast', id=podcast.id)}}">{{podcast.title}}</a></h5>
                                    {% endif %}
                                    {% if podcast.desc|length > 70 %}
                                        <p class="card-scroll-info-text text-wrap text-break">{{podcast.desc[:67]}}...</p>
                                    {% else %}
                                        <p class="card-scroll-info-text text-wrap text-break">{{podcast.desc}}</p>
                                    {% endif %}
                                </section>
                                </div>
                            </article>

                            {% endfor %}
                        </div>

                        {% else %}
                            <article>
                                <h5 class="card-title mb-0">Nulla da vedere! 👀</h5>
                                <p class="card-text">Diventa un podcaster per pubblicare il tuo primo podcast!</p>
                            </article>
                        {% endif %}                            
                        
                    </div>
                </section>

                <!-- Se il visualizzatore è il proprietario del profilo metti un tasto "Nuovo podcast/Diventa podcaster" -->
                {% if current_user.id == user.id %}
                <!-- Card footer -->
                <a href="{{url_for('new_podcast')}}" class="col-12 col-lg-1 btn btn-lg btn-light border-start rounded-0-start border-dark-start bg-light d-flex flex-lg-column justify-content-center align-items-center" role="button">
                    <div>{% if podcasts %}Nuovo podcast{% else %}Diventa podcaster!{% endif %}</div>
                    <i class="fa-solid fa-microphone mt-0 ms-3 mt-lg-3 ms-lg-0"></i>
                </a>
                {% endif %}

            </div>
        </article>

    </div>
    {% endif %}

    <!-- Se l'utente che sta visualizzando la pagina è il possessore del profilo mostra tutto, altrimenti mostra le varie sezioni in funzione di come il proprietario ha impostato la sua privacy e se il profilo che vuole visualizzare è o no un podcaster -->
    {% if is_owner or (not is_owner and privacy[1] == 0) %}
    <!-- Lista podcast seguiti (bootstrap card orizzontale) -->
    <div class="row mt-3">

        <article id="follows" class="card mb-3 mx-lg-0 mx-2 p-0">
            <div class="row g-0">

                <!-- Card header -->
                <section class="col-12 col-xxl-3 card-header d-flex flex-column justify-content-evenly align-items-center display-6">
                    <div class="row my-4 d-flex justify-content-center align-items-center">
                        <p class="text-nowrap text-center mb-0">Seguiti 🥳</p>
                    </div>
                    
                    <!-- Se l'utente che visualizza è il proprietario mostra i tasti per privatizzare o rendere pubblica la sezione (icona dell'occhio) -->
                    {% if is_owner %}
                        <div class="row g-5">
                            <a href="{{url_for('privatize_follows', id=user.id)}}" class="col d-flex justify-content-center align-items-center"><i class="fa-solid fa-eye{% if privacy[1]==1 %}-slash{% endif %} fa-xxs"></i></a>
                            <!-- Se vi sono più podcast aggiungi un tasto "Visualizza tutti i podcast" -->
                            {% if follows|length > 0 %}
                                <a href="{{url_for('follows', id=user.id)}}" class="col btn btn-light btn-outline-dark text-nowrap">Visualizza tutti</a>
                            {% elif follows|length == 0 and is_owner %}
                                <a href="{{url_for('categories')}}" class="col btn btn-light btn-outline-dark text-nowrap">Trova podcasts</a>
                            {% endif %}
                        </div>
                    {% else %}
                        {% if follows|length > 0 %}
                        <div class="row g-5">
                            <a href="{{url_for('follows', id=user.id)}}" class="col btn btn-light btn-outline-dark text-nowrap">Visualizza tutti</a>
                        </div>
                        {% elif follows|length == 0 and is_owner %}
                        <div class="row g-5">
                            <a href="{{url_for('categories')}}" class="col btn btn-light btn-outline-dark text-nowrap">Trova podcasts</a>
                        </div>
                        {% endif %}
                    {% endif %}
                </section>

                <!-- Card body -->
                <section class="col">
                    <div class="card-body row g-2">
                        <!-- Se ci sono podcast mostrali -->
                        {% if follows %}
                        <div class="card-scroll">

                            <!-- Mostra massimo 5 podcast, per gli altri l'utente potrà premere il tasto "Visualizza tutti" -->
                            {% for follow in follows[:5] %}
                            
                            <article class="d-inline-block mx-2 border rounded-2 px-2">
                                <div class="row">
                                    <a href="{{url_for('podcast', id=follow.id_podcast)}}" class="col-4 d-flex align-items-center justify-content-center">
                                        <img src="{{url_for('static', filename='uploads/images/covers/{0}{1}'.format(follow.id, follow.img))}}" class="card-scroll-img img-card img-fluid" alt="Immagine {{follow.title}}">
                                    </a>
                                    <section class="card-scroll-info col-8 mt-2">
                                        {% if follow.title|length > 23 %}
                                            <h5 class="text-wrap text-break"><a href="{{url_for('podcast', id=follow.id_podcast)}}">{{follow.title[:20]}}...</a></h5>
                                        {% else %}
                                            <h5 class="text-wrap text-break"><a href="{{url_for('podcast', id=follow.id_podcast)}}">{{follow.title}}</a></h5>
                                        {% endif %}
                                        {% if follow.desc|length > 70 %}
                                            <p class="card-scroll-info-text text-wrap text-break">{{follow.desc[:67]}}...</p>
                                        {% else %}
                                            <p class="card-scroll-info-text text-wrap text-break">{{follow.desc}}</p>
                                        {% endif %}
                                    </section>
                                </div>
                            </article>

                            {% endfor %}
                            
                        </div>
                        <!-- Altrimenti mostra delle frasi che dicono che non ci sono podcast da visualizzare -->
                        {% else %}
                            <article>
                                <h5 class="card-title mb-0">Nulla da vedere! 👀</h5>
                                {% if is_owner %}
                                    <p class="card-text"><small class="text-muted">Segui i tuoi podcast preferiti per vederli qui la prossima volta!</small></p>
                                {% else %}
                                    <p class="card-text"><small class="text-muted">{{user.name}} non segue nessun podcast!</small></p>
                                {% endif %}
                            </article>
                        {% endif %}
                    </div>
                </section>

            </div>

        </article>
    </div>
    {% endif %}

    {% if is_owner or (not is_owner and privacy[2] == 0) %}
    <!-- Lista episodi salvati -->
    <div class="row mt-3">

        <article id="saves" class="card mb-3 mx-lg-0 mx-2 p-0">
            <div class="row g-0">

                <!-- Card header -->
                <section class="col-12 col-xxl-3 card-header d-flex flex-column justify-content-evenly align-items-center display-6">
                    <div class="row my-4 d-flex justify-content-center align-items-center">
                        <p class="text-nowrap text-center mb-0">Episodi salvati 📋</p>
                    </div>

                   <!-- Se l'utente che visualizza è il proprietario mostra i tasti per privatizzare o rendere pubblica la sezione (icona dell'occhio) -->
                    {% if is_owner %}
                        <div class="row g-5">
                            <a href="{{url_for('privatize_saves', id=user.id)}}" class="col d-flex justify-content-center align-items-center"><i class="fa-solid fa-eye{% if privacy[2]==1 %}-slash{% endif %} fa-xxs"></i></a>
                            {% if saves|length > 0 %}
                                <a href="{{url_for('saves', id=user.id)}}" class="col btn btn-light btn-outline-dark text-nowrap">Visualizza tutti</a>
                            {% elif saves|length == 0 and is_owner %}
                                <a href="{{url_for('categories')}}" class="col btn btn-light btn-outline-dark text-nowrap">Trova podcasts</a>
                            {% endif %}
                        </div>
                    <!-- Altrimenti mostra solo i tasti "visualizza tutti" e "trova altri podcast" -->
                    {% else %}
                        {% if saves|length > 0 %}
                        <div class="row g-5">
                            <a href="{{url_for('saves', id=user.id)}}" class="col btn btn-light btn-outline-dark text-nowrap">Visualizza tutti</a>
                        </div>
                        {% elif saves|length == 0 and is_owner %}
                        <div class="row g-5">
                            <a href="{{url_for('categories')}}" class="col btn btn-light btn-outline-dark text-nowrap">Trova podcasts</a>
                        </div>
                        {% endif %}
                    {% endif %}

                </section>

                <!-- Card body -->
                <section class="col">
                    <div class="card-body g-2">
                        {% if saves %}
                        <div class="card-scroll">

                            <!-- Mostra solo i 5 primi episodi, per gli altri c'è il tasto "Visualizza tutti" -->
                            {% for save in saves[:5] %}
                            
                            <article class="d-inline-block mx-2 border rounded-2 px-2">
                                <div class="row">
                                    <a href="{{url_for('episode', id_pod=save.id, id_ep=save.ep_id)}}" class="col-4 d-flex align-items-center justify-content-center">
                                        <img src="{{url_for('static', filename='uploads/images/covers/{0}{1}'.format(save.id, save.img))}}" class="card-scroll-img img-card img-fluid" alt="Immagine {{save.title}}">
                                    </a>
                                    <section class="card-scroll-info col-8 mt-2">
                                        {% if save.title|length > 23 %}
                                            <h5 class="text-wrap text-break"><a href="{{url_for('episode', id_pod=save.id, id_ep=save.ep_id)}}">{{save.title[:20]}}...</a></h5>
                                        {% else %}
                                            <h5 class="text-wrap text-break"><a href="{{url_for('episode', id_pod=save.id, id_ep=save.ep_id)}}">{{save.title}}</a></h5>
                                        {% endif %}
                                        {% if save.desc|length > 70 %}
                                            <p class="card-scroll-info-text text-wrap text-break">{{save.desc[:67]}}...</p>
                                        {% else %}
                                            <p class="card-scroll-info-text text-wrap text-break">{{save.desc}}</p>
                                        {% endif %}
                                    </section>
                                </div>
                            </article>

                            {% endfor %}
                            
                        </div>
                        <!-- Altrimenti mostra della frasi che dicono che non ci sono episodi salvati -->
                        {% else %}
                            <article>
                                <h5 class="card-title mb-0">Nulla da vedere! 👀</h5>
                                {% if is_owner %}
                                    <p class="card-text"><small class="text-muted">Salva i tuoi episodi preferiti per vederli qui la prossima volta!</small></p>
                                {% else %}
                                    <p class="card-text"><small class="text-muted">{{user.name}} non ha ancora salvato nessun episodio!</small></p>
                                {% endif %}
                            </article>
                        {% endif %}
                    </div>
                </section>

            </div>
        </article>

    </div>
    {% endif %}

</main>

{% endblock %}