{% extends 'gallery.html' %}

{% block title %} - Episodi salvati di {{user.name}}{% endblock %}

{% block scripts %}<script src="{{url_for('static', filename='scripts/searchepisodes.js')}}" defer></script>{% endblock %}

{% block searchbar %}
    <div class="row mb-5">
        <div class="col-12 d-flex align-items-center">
            <input class="form-control" id="searchbar" type="search" placeholder="Cerca tra gli episodi">
        </div>
    </div>
{% endblock %}

{% block header %}
    {% if is_owner %}
        <p class="text-center display-1">I tuoi episodi salvati</p>
    {% else %}
        <p class="text-center display-1">Episodi salvati da {{user.name}}</p>
    {% endif %}
{% endblock %}

{% block main %} 

{% if episodes %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for episode in episodes %}
        <div class="col">
        <a class="episode card h-100" href="{{url_for('episode', id_ep=episode.ep_id, id_pod=episode.id)}}">
            <img class="card-img-top img-fluid p-1 p-lg-3" src="{{url_for('static', filename='uploads/images/covers/'+episode.id|string+episode.img)}}" alt="episode {{episode.title}} image">
            <div class="card-body">
                <h5 class="episode-title card-title">{{episode.title}}</h5>
                <p class="episode-description card-text">{{episode.desc}}</p>
            </div>
        </a>
        </div>
    {% endfor %}
</div>

{% else %}
    {% if is_owner %}
        <div class="row">
            <h5 class="text-center">Non hai salvato nessun episodio 😢</h5>
            <p class="text-center"><small>(per ora...)</small></p>
        </div>
    {% else %}
        <div class="row">
            <h5 class="text-center">{{user.name}} non ha salvato nessun episodio 😢</h5>
            <p class="text-center"><small>(per ora...)</small></p>
        </div>
    {% endif %}
{% endif %}

{%endblock%}