{% extends 'gallery.html' %}

{% block title %} - Episodi salvati di {{user.name}}{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='scripts/searchepisodes.js')}}" defer></script>
{% endblock %}

<!-- Searchbar e script diversi per le gallerie di episodi -->
{% block searchbar %}
    <div class="row mb-5">
        <div class="col-12 d-flex align-items-center">
            <input class="form-control" id="searchbar" type="search" placeholder="Cerca tra gli episodi">
        </div>
    </div>
{% endblock %}

<!-- Titolo della galleria in display-1 -->
{% block header %}
    {% if is_owner %}
        <h1 class="text-center display-1">I tuoi episodi salvati</h1>
    {% else %}
        <h1 class="text-center display-1">Episodi salvati da {{user.name}}</h1>
    {% endif %}
{% endblock %}

<!-- Main della galleria, contiente tutti i podcast seguiti dall'utente -->
{% block main %} 

{% if episodes %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for episode in episodes %}
        <div class="col">
        <article class="episode card h-100">
            <a href="{{url_for('episode', id_ep=episode.ep_id, id_pod=episode.id)}}"><img class="card-img-top img-fluid p-1 p-lg-3" src="{{url_for('static', filename='uploads/images/covers/'+episode.id|string+episode.img)}}" alt="episode {{episode.title}} image"></a>
            <section class="card-body">
                <h4 class="episode-title card-title"><a href="{{url_for('episode', id_ep=episode.ep_id, id_pod=episode.id)}}">{{episode.title}}</a></h4>
                <p class="episode-description card-text"><a href="{{url_for('episode', id_ep=episode.ep_id, id_pod=episode.id)}}">{{episode.desc}}</a></p>
            </section>
        </article>
        </div>
    {% endfor %}
</div>

<!-- Se l'utente non segue nessuno scrivilo -->
{% else %}
    {% if is_owner %}
        <article class="row">
            <h5 class="text-center">Non hai salvato nessun episodio 😢</h5>
            <p class="text-center"><small>(per ora...)</small></p>
        </article>
    {% else %}
        <article class="row">
            <h5 class="text-center">{{user.name}} non ha salvato nessun episodio 😢</h5>
            <p class="text-center"><small>(per ora...)</small></p>
        </article>
    {% endif %}
{% endif %}

{%endblock%}